$color: red;
$yum: blue;

.title {
  font-size: 10px;
  color: $color;
  background-color: black;
}
.row {
  padding: 10px;
  background-color: black;
  border: 5px black;
}

.hack {
  font-style: italic;
  color: $color;
}

#bold {
  font-weight: bold;
  color: $yum;
}

ol span {
        @extend .title;
      }
div {
  font-size: 20px;
  ol {
    font-size: 20px;
  }
  img {
    border: 10px solid $color;
  }

}
